/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
@import "@flaticon/flaticon-uicons/css/all/all.css";
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.select__menu,
.select__control {
    background-color: rgb(45, 50, 56)!important;
}
.select__single-value {
    color: #ffffff!important;
}

.select__control--is-disabled {
    background-color: rgb(89, 96, 105)!important;
}
.picker {
    position: relative;
}

.swatch {
    display: flex;
    width: 128px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.show-color {
    width: 27px;
    height: 27px;
    border-radius: 8px;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.popover {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
svg {
    border-radius: 50%;
}
.highlighted-text{
    background-color: #e8bb49;
    font-weight: bold;
    padding: 0;
}
.card-bg-color {
    background-color: rgb(41, 36, 42) !important;
}
.loading-spinner{
    width:30px;
    height:30px;
    border:2px solid indigo;
    border-radius:50%;
    border-top-color:#0001;
    display:inline-block;
    animation:loadingspinner .7s linear infinite;
}
@keyframes loadingspinner{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}
.cursor-alias {cursor: alias !important;}
.cursor-all-scroll {cursor: all-scroll !important;}
.cursor-auto {cursor: auto !important;}
.cursor-cell {cursor: cell !important;}
.cursor-col-resize {cursor: col-resize !important;}
.cursor-context-menu {cursor: context-menu !important;}
.cursor-copy {cursor: copy !important;}
.cursor-crosshair {cursor: crosshair !important;}
.cursor-default {cursor: default !important;}
.cursor-e-resize {cursor: e-resize !important;}
.cursor-ew-resize {cursor: ew-resize !important;}
.cursor-grab {cursor: -webkit-grab; cursor: grab !important;}
.cursor-grabbing {cursor: -webkit-grabbing; cursor: grabbing !important;}
.cursor-help {cursor: help !important;}
.cursor-move {cursor: move !important;}
.cursor-n-resize {cursor: n-resize !important;}
.cursor-ne-resize {cursor: ne-resize !important;}
.cursor-nesw-resize {cursor: nesw-resize !important;}
.cursor-ns-resize {cursor: ns-resize !important;}
.cursor-nw-resize {cursor: nw-resize !important;}
.cursor-nwse-resize {cursor: nwse-resize !important;}
.cursor-no-drop {cursor: no-drop !important;}
.cursor-none {cursor: none !important;}
.cursor-not-allowed {cursor: not-allowed !important;}
.cursor-pointer {cursor: pointer !important;}
.cursor-progress {cursor: progress !important;}
.cursor-row-resize {cursor: row-resize !important;}
.cursor-s-resize {cursor: s-resize !important;}
.cursor-se-resize {cursor: se-resize !important;}
.cursor-sw-resize {cursor: sw-resize !important;}
.cursor-text {cursor: text !important;}
.cursor-w-resize {cursor: w-resize !important;}
.cursor-wait {cursor: wait !important;}
.cursor-zoom-in {cursor: zoom-in !important;}
.cursor-zoom-out {cursor: zoom-out !important;}

.tooltip-custom {
    position: relative;
    z-index: 100;
    display: inline-block;
}

.tooltip-custom .tooltip-custom-text-120 {
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-custom .tooltip-custom-text-120::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip-custom:hover .tooltip-custom-text-120 {
    visibility: visible;
    opacity: 1;
}
.tooltip-custom .tooltip-custom-text-200 {
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-custom .tooltip-custom-text-200::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 83%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip-custom:hover .tooltip-custom-text-200 {
    visibility: visible;
    opacity: 1;
}
.tooltip-custom .tooltip-custom-text-150 {
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-custom .tooltip-custom-text-150::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 62%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip-custom:hover .tooltip-custom-text-150 {
    visibility: visible;
    opacity: 1;
}
.not-allowed{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: not-allowed;
    content: "";
    background-color: rgba(0, 0, 0, 0.45)
}
.bg-deeper-45 {
    background-color: rgba(0, 0, 0, 0.45)
}

.custom-selected-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(45, 50, 56);
    border: 1px solid rgb(45, 50, 56);
    border-radius: 6px;
}

.custom-selected-file .file-name {
    font-size: 13px;
    font-weight: 500;
}

.custom-selected-file .trash {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8A3FFC;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-selected-file .trash:hover {
    color: #fff;
    background-color: #8A3FFC;
}
.custom-selected-file .choose-file {
    padding-right: .75rem;
    padding-left: .75rem;
    border-radius: 5px;
    border: 2px solid rgb(72 76 81 / 75%);
    color: #fff;
    width: max-content;
    background-color: rgba(45, 50, 56, .5);
}
.custom-selected-file .choose-file:hover {
    color: #fff;
    background-color: #8A3FFC;
    border: 2px solid #8A3FFC;
}
.custom-selected-file .choose-file:focus {
    border: 2px solid rgba(45, 50, 56, .5);
}
